@import './modules/navbar';
@import './modules/hero';
@import './modules/about';
@import './modules/whyUs';
@import './modules/stats';
@import './modules/menu';
@import './modules/testimonials';
@import './modules/events';
@import './modules/chefs';
@import './modules/bookATable';
@import './modules/gallery';
@import './modules/contact';
@import './modules/footer';